@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --bg1: rgb(255, 164, 209);
    --bg2: rgb(254, 155, 180);
    --body: #959DCC;
    --brand: rgb(124, 161, 255);
    --match: #E6DADA;
    --white: #fff;
    --gray: #333333;
    --deep: rgb(0, 0, 128);
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--gray);
	line-height: 1.8;
	background-color: rgb(244, 184, 209);
	font-weight: 444;
}


a {
	color: var(--gray);
	text-decoration: none;
}

a:hover {
	color: var(--brand);
}


img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dela Gothic One';
	color: rgb(0, 0, 128);
}

section {
	padding-top: 156px;
	padding-bottom: 156px;
}

.fancy {
	font-family: 'Lobster', cursive;
}

/* FOR THE NAVBAR */
.navbar {
	background: linear-gradient(to bottom, rgba(250, 184, 209, 0.522), rgba(250, 184, 209, 0.950));
}

.nav-item {
	font-size: 18px;
	font-weight: 750;
}

.navbar .navbar-nav .nav-link.active {
	color: var(--brand);
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 44px;
}



/* FOR THE INTRO */

#intro p {
	color: #333333;
}

#intro {
	background: linear-gradient(to right, rgb(248, 184, 209), rgba(244, 184, 209, 0.211)), url(../img/cover_1.jpg);
	min-height: 100vh;
	background-position: center;
	background-size: cover;
}


/* FOR THE ABOUT US */

#about {
	position: relative;
}

#about::after {
	content: "";
	width: 27%;
	height: 100%;
	background-color: var(--brand);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

#about h6 {
	color: var(--brand);
}

#about h1 {
	margin-top: 17px;
	margin-bottom: 23px;
}

#about p {
	color: var(--gray);
}

#about img {
	width: unset;
	height: unset;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::before,
.image-container::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid var(--deep); /* Adjust the border color */
  z-index: -1;
}

.image-container::before {
  transform: skew(2deg, 2deg); /* Adjust the skew values for a slanted effect */
}

.image-container::after {
  transform: skew(-2deg, -2deg); /* Adjust the skew values for a slanted effect */
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* FOR OUR SERVICES */

.more {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	font-weight: 650;
	text-transform: capitalize;
	left: 1px;
}

.more .icon {
	transition: all 0.5s ease;
}

.more:hover .icon {
	transform: translateX(7.5px);
}

#services {
	background: var(--bg1);
}

#services .serice .content {
	padding: 32px;
}

#services p {
	font-weight: 450;
	margin-top: 18px;
	margin-bottom: 18px;
}

#services .content h1,h2,h3,h4,h5,h6 {
	padding-top: 25px;
}


/* FOR THE BUTTONS */
.btn {
	padding: 15px 35px;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.4 ease;
	border-radius: 5px;;
}

.btn-outline-brand {
	background-color: transparent;
	color: var(--deep);
	border: 3px solid var(--deep);
}

.btn-outline-brand:hover {
	background-color: var(--brand);
}

.btn-brand {
	background-color: var(--brand);
}

.btn-brand:hover {
	background-color: transparent;
	color: var(--brand);
	border-color: var(--brand);
}
